# BACKEND CONFIGURATION

## DATABASE CONFIGURATION
PG_USERNAME=root
PG_PASSWORD=change_me
PG_DATABASE=expense-tracker
PG_PORT=5432
PG_HOST=postgres

## APLICATION CONFIGURATION
FRONTEND_HOST=localhost
FRONTEND_PORT=4000

### AUTHENTICATION CONFIGURATION
JWT_SECRET_KEY=change_me
HASH_SALT_ROUNDS=10

# FRONTEND CONFIGURATION

## APPLICATION CONFIGURATION
BACKEND_HOST=backend

# COMPOSE CONFIGURATION
COMPOSE_BACKEND_PORT=3000
COMPOSE_FRONTEND_PORT=4000
