# BACKEND CONFIGURATION

## DATABASE CONFIGURATION
PG_USERNAME=root
PG_PASSWORD=change_me
PG_DATABASE=expense-tracker
PG_PORT=5432
PG_HOST=postgres

## REDIS CONFIGURATION
REDIS_ENDPOINT=redis://redis:6379
REDIS_PORT=6379

## APLICATION CONFIGURATION
PORT= 8080
FRONTEND_ENDPOINT=http://localhost

### AUTHENTICATION CONFIGURATION
JWT_SECRET_KEY=change_me
HASH_SALT_ROUNDS=10

# FRONTEND CONFIGURATION

## APPLICATION CONFIGURATION
BACKEND_ENDPOINT= http://localhost:8080

# COMPOSE CONFIGURATION
COMPOSE_BACKEND_PORT=8080
COMPOSE_FRONTEND_PORT=80
