# DATABASE CONFIGURATION
PG_USERNAME=root
PG_PASSWORD=change_me
PG_DATABASE=expense-tracker
PG_HOST=127.0.0.1
PG_PORT=5432

# APLICATION CONFIGURATION
PORT=8080
FRONTEND_ENDPOINT=http://localhost

# AUTHENTICATION CONFIGURATION
JWT_SECRET_KEY=your_jwt_secret_key
HASH_SALT_ROUNDS=10